
:root{
  --main: rgba(29, 109, 141, 0.562);
  --dark: #20241ef6;
  --dark-light: #3f4647;
  --white-light: #c8c8c8;
  --white: white;
  --shadow: 00 15px rgba(85, 34, 34, 0.25);
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}
body {
  padding: 0%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
 /*  background-image: url('https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/itCjTBE/blue-abstract-moving-flowing-waves-on-white-background-blurred-smooth-design-video-animation-ultra-hd-4k-3840x2160_rffdhgnp_thumbnail-1080_01.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; */
}
h2{
  color: rgb(83, 78, 78);
  color: var(--main);
  font-size: 2.5em;
  font-weight: bold;
}
nav {
  margin: 0;
  width: 100%;
  height: 80px;
  /* background-color: rgb(245, 245, 245); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(105, 32, 223);
  text-decoration: none;
  width: [object Object]px; 
	height: [object Object]px; 
	background: #ffffff; 
	border: solid #BDBDBD 1px; 
	box-shadow: 12px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 12px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 12px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}
nav span{
  color: #3c3d3d;
  font-style: italic;
  border-left: 1px solid grey;
  padding-left:5px;
 
}

a {
  color: var(--main);
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}
.signOut-btn{
  display: inline-block;
  color: #2abeb2;
  cursor: pointer;
  font-weight: bold;
  margin-right: 15px;
  transition: all .5s ease;
}
.signOut-btn:hover{
  color: black;
}
.createPostPage {
  width: 90%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
  margin-bottom: 15%;
}
.cpContainer {
  max-width: 700px;
  height: auto;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  height: auto;
  color: var(--main);
  box-shadow: rgba(0, 0, 0, 0.842) 0px 3px 8px;
  margin: 20px;
  margin-left: 15%;
  padding: 20px;
  border-radius: 15px;
  backdrop-filter: blur(6px) saturate(144%);
  -webkit-backdrop-filter: blur(1px) saturate(144%);
  background-color: #ffffff42;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.cpContainer h2 {
  text-align: center;
  color: var(--main);
}

.cpContainer label {
  font-size: 25px;
}
.cpContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.inputGp input {
  height: 40px;
}
.inputGp textarea {
  height: 150px;
}
.cpContainer button {
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.loginPage {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

}

.loginPage p {
  font-size: 30px;
}

/* GOOGLE BUTTOn */
.login-with-google-btn {
  cursor: pointer;
  max-width: 400px;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 25px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.homePage {
  width: 100%;
  min-height: calc(100vh - 80px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  /* background-color: yellow; */
}

.homePage .post {
  width: 90%;
  max-width: 700px;
  height: auto;
  color: white;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(32, 34, 34, 0.664) 0px 6px 15px;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  backdrop-filter: blur(6px) saturate(144%);
  -webkit-backdrop-filter: blur(1px) saturate(144%);
  background-color: #ffffff13;
  border-radius: 12px;
  border: 1px solid rgba(0, 110, 255, 0.445);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homePage .post p{
  line-height: 1.7;
  color: black;
}

.post .postHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}

.postHeader .title {
  flex: 50%;
  word-wrap: break-word;
}
.postHeader .deletePost {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* .btnDelete{
  cursor: pointer;
} */
.deletePost  {
  border: none !important;
  background: none !important;
  font-size: 30px;
  cursor: pointer;
}

.post .postTextContainer {
  word-wrap: break-word;
  height: auto;
  max-height: 600px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.postTextContainer h3 {
  text-align: center;
  color: var(--main);
}
.imgPost{
  max-width: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.imgPost img{
  width: 100%;
  max-height:450px;
 
}
.home-text{
  padding: 20px;
}
.search-area{
  padding: 20px;
}
.search-form{
   width: 100%;
}
.search-form input{
  width: 95%;
}

.search-form::placeholder{
  color: rgba(100, 92, 92, 0.466);
}
.btn{
  border: 1px solid transparent;
  background-color: var(--main);
  cursor: pointer;
  color: white;
}
.btn:hover{
  border: 1px solid var(--main);
  background-color:transparent;
  color: var(--main);
}
.custom-file-upload {
  display: block;
  width: 90%;
  padding: 6px 12px;
  cursor: pointer;
  word-wrap: break-word;
}


input {
  padding: 12px;
  margin: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 4px #ccc;
  border-radius: 6px;
  font-size: 18px;
  width: 93%;
}

button {
  background-color: teal;
  border: 1px solid transparent;
  color: white;
  padding: 12px;
  margin: 12px 0;
  box-shadow: 0 1px 6px #ccc;
  width: 100%;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ;
}
button:hover {
  color: teal;
  background-color: white;
  border: 1px solid teal;

}
.btnDelete  {
  border: none !important;
  color: teal;
  background-color: rgba(255, 255, 255, 0.705) !important;
  font-size: 50px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  box-shadow: none;
  transition: all .3s ease;
}
.btnDelete:hover{
  font-size: 60px;
  color: rgb(3, 75, 75);
}
.container {
  box-shadow: 0 1px 6px #ccc;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  padding: 22px;
}

.container > p {
  cursor: pointer;
  margin: 12px;
  font-size: 20px;
}

.form {
  width: 100%;
}

.form > h2 {
  text-align: center;
  font-size: 2.1em;
}

.form > form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form > form > p {
  cursor: pointer;
  font-size: 20px;
}

.error {
  text-align: center;
  background-color: tomato;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  max-width: 400px;
  margin-bottom: 20px;
  padding: 5px 15px;
}
.error p {
  padding: 2px;
  font-size: 5px !important;
}


.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#f8042d;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

/* RESPONSIVE */

#menu-btn{
  font-size: 38px;
  color:var(--main);
  cursor: pointer;
  display: none;
}

@media (max-width: 760px) {
  
  .menu-elements{
    position: absolute;
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: auto;
    left: 0;
    top: 70px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
    width: 100%;
    text-align: center;
    z-index: 1;
    display: none;
    width: [object Object]px; 
  	height: [object Object]px; 
	  background: #ffffff; 
	  border-bottom: solid #BDBDBD 1px; 
	  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
  }
  #active{
    display: flex;
  }


  #menu-btn{
    display: inline;
    cursor: pointer;
  }
  nav button{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 40%;
    margin-right:70%;
    margin-left: 30%;
  }
 
}